.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:10%
  }

body{
    text-align: center;
    background-color:lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color:black;
}

h2{
    color:green;
}

p a{
 color:brown;
 font-weight: bold;
}

footer{
    margin-left: auto;
    margin-right:auto;
    color:blue;
    margin-top:6rem ;
}

.email{
    font-weight: bold;
}

